@model BlockFriends.Models.BuildTable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BuildTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="\userPhotos\@Html.DisplayFor(model => model.BuildPhoto)" width="1000" height="800" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buildname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buildname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialUsed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildBiome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildBiome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuilderNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuilderNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorldSeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorldSeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
